/* AstLinux Web Interface */

body {
  color: #000000;
  background: #F7F5F2;
  font-weight: normal;
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Trebuchet MS", Verdana, Helvetica, sans-serif;
  font-size: 13px;
  line-height: normal;
  text-decoration: none;
  margin: 8px;
  padding: 0;
}

table {
  font-weight: normal;
  border-color: #54545C;
  border-collapse: collapse;
  text-align: left;
}

pre {
  font-weight: normal;
  border: 1px solid #54545C;
  background: #E7E5E2;
  padding: 10px;
  font-family: "Bitstream Vera Sans Mono", Menlo, "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
  font-size: 12px;
  line-height: 125%;
  width: inherit;
  overflow: auto; /*--If the Code exceeds the width, a scrolling is available--*/
}

h1 {
  font-weight: bold;
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Trebuchet MS", Verdana, Helvetica, sans-serif;
  font-size: 18px;
  line-height: normal;
  margin: 0px;
  padding: 0px 0px 0px 16px;
  text-decoration: none;
}

h2 {
  font-weight: bold;
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Trebuchet MS", Verdana, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 100%;
  text-decoration: none;
}

p {
  font-weight: normal;
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Trebuchet MS", Verdana, Helvetica, sans-serif;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
}

#tabs {
  float:left;
  width:100%;
  background:#E7E5E2;
  font-weight: bold;
  font-size:110%;
  line-height:normal;
  border-bottom:1px solid #54545C;
}
#tabs ul {
  margin:0;
  padding:10px 10px 0 50px;
  list-style:none;
}
#tabs li {
  display:inline;
  margin:0;
  padding:0;
}
#tabs a {
  float:left;
  background:url("tableft.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 4px;
  text-decoration:none;
}
#tabs a span {
  float:left;
  display:block;
  background:url("tabright.gif") no-repeat right top;
  padding:5px 15px 4px 6px;
  color: #FFA500;
}
#tabs a:hover span {
  color: #FFA500;
  background-position:100% -42px;
}
#tabs a:hover {
  background-position:0% -42px;
}
#tabs a:hover span {
  background-position:100% -42px;
}

#gttBtn {
  display: none;
  position: fixed;
  top: 48px;
  right: 10px;
  z-index: 88;
  font-weight: bold;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #887E77;
  color: #FFA500;
  cursor: pointer;
  padding: 6px;
  border-radius: 4px;
}

#gttBtn:hover {
  background-color: #6E6E77;
}

.status {
  font-family: "Bitstream Vera Sans Mono", Menlo, "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
  font-size: 14px;
  line-height: 110%;
  border: 2px solid #54545C;
  background: #E7E5E2;
  text-align: left;
}
.status td {
  padding: 8px;
}

.datatable {
  font-family: "Bitstream Vera Sans Mono", Menlo, "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
  font-size: 14px;
  line-height: 110%;
  border: 0;
  text-align: left;
}
.datatable td {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 14px;
  padding-right: 14px;
}

.headerTable {
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Trebuchet MS", Verdana, Helvetica, sans-serif;
  font-size: 100%;
  line-height: 100%;
  width: 100%;
  border: 0;
  text-align: left;
}
.headerTable td {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.dtrow0 {
  background: #F7F7F7;
}
.dtrow1 {
  background: #EFEFE7;
}

.dtrow0-hideOnMobile {
  background: #F7F7F7;
}
.dtrow1-hideOnMobile {
  background: #EFEFE7;
}

.dtrow0-hideOnDesktop {
  display: none !important;
  background: #F7F7F7;
}
.dtrow1-hideOnDesktop {
  display: none !important;
  background: #EFEFE7;
}

.headerText {
  color: #FFA500;
  font-weight: bold;
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Trebuchet MS", Verdana, Helvetica, sans-serif;
  font-size: 14px;
  line-height: normal;
  text-decoration: underline;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 4px;
  padding-right: 12px;
}
.headerText:visited {
  color: #FFA500;
}
.headerText:hover {
  text-decoration: none;
}
.headerText:active {
  color: black;
}

.statusText {
  font-weight: normal;
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Trebuchet MS", Verdana, Helvetica, sans-serif;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
}

.dialogText {
  font-weight: normal;
  background: #E7E5E2;
  padding: 10px;
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Trebuchet MS", Verdana, Helvetica, sans-serif;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
}

.listText {
  font-weight: normal;
  background: #E7E5E2;
  padding: 10px 0px 10px 40px;
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Trebuchet MS", Verdana, Helvetica, sans-serif;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
}

@media only screen and (max-device-width: 991px) {
  .hideOnMobile {
    display: none !important;
  }
  .dtrow0-hideOnMobile {
    display: none !important;
  }
  .dtrow1-hideOnMobile {
    display: none !important;
  }
  .dtrow0-hideOnDesktop {
    display: table-row !important;
  }
  .dtrow1-hideOnDesktop {
    display: table-row !important;
  }
}

